<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <record id="view_cenit_wireless_settings" model="ir.ui.view">
            <field name="name">Cenit Wireless Settings</field>
            <field name="model">cenit.wireless.settings</field>
            <field name="arch" type="xml">
                <form string="Configure Wireless Integration" class="oe_form_configuration">
                    <header>
                        <button string="Apply" type="object"
                                name="execute" class="oe_highlight"/>
                        or
                        <button string="Cancel" type="object"
                                name="cancel" class="oe_link"/>
                    </header>
                    <div>
                        <group string="Wireless Integration Settings">
                            <field name='email' placeholder='Email for notifications' />
                            <field name='enabled_err_msg' placeholder='Enable error messages' />
                            <field name='enable_sync_msg' placeholder='Enabled sync messages' />
                        </group>
                    </div>

                    <div>
                        <group string="BackMarket Integration Settings">
                            <field name='bm_url' placeholder='https://www.backmarket.com' />
                            <field name='bm_token' placeholder='Backmarket Authentication Token' />
                            <field name='bm_user_agent' placeholder='Backmarket User Agent' />
                        </group>
                    </div>

                    <div>
                        <group string="Shipstation Integration Settings">
                            <field name='shipstation_api_key' placeholder='Shipstation API Key' />
                            <field name='shipstation_api_secret' placeholder='Shipstation API Secret' />
                            <field name='shipstation_store' placeholder='Shipstation Store' />
                        </group>
                    </div>

                    <div>
                        <group string="3PL Integration Settings">
                            <field name='_3pl_client_id' placeholder='3PL Client ID' />
                            <field name='_3pl_client_secret' placeholder='3PL Client Secret' />
                            <field name='_3pl_costumer_id' placeholder='230' />
                            <field name='_3pl_facility_id' placeholder='84' />
                            <field name='_3pl_tpl_guid' placeholder='ert0a852-78b9-91h4-ut8x-7tg136wsx3574' />
                            <field name='_3pl_userlogin_id' placeholder='9512' />
                        </group>
                    </div>
                </form>
            </field>
        </record>

        <record id="action_cenit_wireless_settings" model="ir.actions.act_window">
            <field name="name">Cenit Wireless Settings</field>
            <field name="res_model">cenit.wireless.settings</field>
            <field name="view_mode">form</field>
            <field name="target">inline</field>
            <field name="view_id" ref="view_cenit_wireless_settings"/>
        </record>

        <menuitem id="menu_cenit_wireless_settings"
            parent="cenit_base.menu_cenit_integrations_settings"
            sequence="1" action="action_cenit_wireless_settings"/>

        <menuitem id="menu_cenit_wireless_settings_alt"
            parent="cenit_base.menu_cenit_integrations_settings_alt"
            sequence="1" action="action_cenit_wireless_settings"/>


    </data>
</odoo>
