<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <record id="view_cenit_wireless_settings" model="ir.ui.view">
            <field name="name">Cenit Wireless Settings</field>
            <field name="model">cenit.wireless.settings</field>
            <field name="arch" type="xml">
                <form string="Configure Wireless Integration" class="oe_form_configuration">
                    <header>
                        <button string="Apply" type="object"
                                name="execute" class="oe_highlight"/>
                        or
                        <button string="Cancel" type="object"
                                name="cancel" class="oe_link"/>
                    </header>
                    <div>
                        <group string="Wireless Integration Settings">
                            <field name='email' placeholder='Email for notifications' />
                            <field name='enabled_err_msg' placeholder='Enable error messages' />
                            <field name='enable_sync_msg' placeholder='Enabled sync messages' />
                        </group>
                    </div>
                </form>
            </field>
        </record>

        <record id="action_cenit_wireless_settings" model="ir.actions.act_window">
            <field name="name">Cenit Wireless Settings</field>
            <field name="res_model">cenit.wireless.settings</field>
            <field name="view_mode">form</field>
            <field name="target">inline</field>
            <field name="view_id" ref="view_cenit_wireless_settings"/>
        </record>

        <menuitem id="menu_cenit_wireless_settings"
            parent="cenit_base.menu_cenit_integrations_settings"
            sequence="1" action="action_cenit_wireless_settings"/>

        <menuitem id="menu_cenit_wireless_settings_alt"
            parent="cenit_base.menu_cenit_integrations_settings_alt"
            sequence="1" action="action_cenit_wireless_settings"/>


    </data>
</odoo>
